@use '@angular/material' as mat;
@use 'sass:map';

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map.get($config, 'foreground');
  $background: map.get($config, 'background');
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  :root {
    --todo-avatar-color: #{mat.get-color-from-palette($foreground, 'icon')};
    --todo-avatar-background-color: #{mat.get-color-from-palette(
        $background,
        'background'
      )};

    --todo-avatar-border-color: #{mat.get-color-from-palette(
        $foreground,
        'icon'
      )};
  }

  todo-avatar {
    &.mat-primary {
      --todo-avatar-color: #{mat.get-color-from-palette(
          $primary,
          'default-contrast'
        )};

      --todo-avatar-background-color: #{mat.get-color-from-palette(
          $primary,
          'default'
        )};

      --todo-avatar-border-color: #{mat.get-color-from-palette(
          $primary,
          'default-contrast'
        )};
    }

    &.mat-accent {
      --todo-avatar-color: #{mat.get-color-from-palette(
          $accent,
          'default-contrast'
        )};

      --todo-avatar-background-color: #{mat.get-color-from-palette(
          $accent,
          'default'
        )};

      --todo-avatar-border-color: #{mat.get-color-from-palette(
          $accent,
          'default-contrast'
        )};
    }

    &.mat-warn {
      --todo-avatar-color: #{mat.get-color-from-palette(
          $warn,
          'default-contrast'
        )};

      --todo-avatar-background-color: #{mat.get-color-from-palette(
          $warn,
          'default'
        )};

      --todo-avatar-border-color: #{mat.get-color-from-palette(
          $warn,
          'default-contrast'
        )};
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat.get-typography-config($config-or-theme);

  :root {
    font-family: mat.font-family($config);
    --todo-avatar-font-size: 45cqw;
    --todo-avatar-font-weight: 300;
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $typography: mat.get-typography-config($theme);
  @if $color != null {
    @include color($theme);
  }

  @if $typography != null {
    @include typography($theme);
  }
}
