<mat-toolbar role="heading">
    @if(isSmallScreen() === true) {
        <button
            data-testid="sidenav-toggle-button"
            mat-icon-button
            (click)="navDrawer.toggle()">
            <span class="cdk-visually-hidden">Toggle main navigation drawer</span>
            <mat-icon>menu</mat-icon>
        </button>
    }
    <todo-logo />
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav 
      data-testid="sidenav"
      #navDrawer
      [fixedInViewport]="isSmallScreen() === true"
      [opened]="isSmallScreen() === false"
      [mode]="isSmallScreen() === true ? 'over' : 'side'"
      autoFocus="false"
    >
    <todo-user-account-menu />
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
